.calc {
  width: calc(100%/3);
  min-width: 270px;
  margin: auto;
}

.heading {
  text-align: center;
  font-family: unset;
}

.calc input {
  width: calc(100% - 5px);
  margin-left: 5px;
}

.numbers {
  width: calc(25% - 5px);
  margin-left: 5px;
  margin-top: 5px;
}

.symbols {
  width: calc(25% - 5px);
  margin-left: 5px;
  margin-top: 5px;
}

.clear_all {
  width: calc(30% - 5px);
  margin-left: 5px;
  margin-top: 5px;
}

.clear {
  width: calc(20% - 5px);
  margin-left: 5px;
  margin-top: 5px;
}

.undo {
  width: calc(25% - 5px);
  margin-left: 5px;
  margin-top: 5px;
}

.redo {
  width: calc(25% - 5px);
  margin-left: 5px;
  margin-top: 5px;
}