.details {
  display: inline;
  font-family: monospace;
}

h1 {
  font-family: 'Supermercado One', cursive;
  margin-left: calc(50% - 98.97px);
  color: #1769aa;
}

.numbers {
  width: calc(100% / 3 - 3px);
  min-width: 50px;
  height: 55px;
}